<!DOCTYPE html>

<html>
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="~/Content/mystyle/style-search-bar.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css" />
    <script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/all.js"></script>


    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- title of site -->
    <title>Loremipsu: Nền tảng cho thuê bất động sản ở tp.HCM </title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/Content/assets/logo/Logo-favicon.jpg" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/Content/assets/css/linearicons.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">

    <!--slick.css-->
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/Content/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">

    <style>
        .container {
            
        }
    </style>
</head>
<body>
    <div>@Html.Partial("_PartialPageTopHeader")</div>
    <section style="background-color: #272343;">
    <div class="container">
        <div class="welcome-hero-serch-box" style="margin-top:10px;">
            <div class="searchform-property">
                <form class="searchform" action="#" method="get">
                    <input type="hidden" name="post-type" value="property" />
                    <div class="field-group">
                        <div class="col-20 input-form">
                            <input class="form-control" name="s" placeholder="ID, Building name, Adress...">
                        </div>
                        <div class="col-20 input-form form-property_location">
                            <select class="form-control city_select" id="property_location" name="property_location">
                                <option value="0" data-id="0">-All Districts-</option>
                                <option value="binh-chanh" data-id="55">Binh Chanh</option>
                                <option value="apartment-for-rent-in-binh-tan-district" data-id="161">Bình Tân</option>
                                <option value="apartment-for-rent-in-binh-thanh-district" data-id="49">Bình Thạnh</option>
                                <option value="apartment-for-rent-district-1" data-id="36">Quận 1</option>
                                <option value="apartment-for-rent-in-district-10" data-id="45">Quận 10</option>
                                <option value="apartment-for-rent-in-district-11-hcmc" data-id="46">Quận 11</option>
                                <option value="apartment-for-rent-in-district-2" data-id="37">Quận 2</option>
                                <option value="apartment-for-rent-in-district-3" data-id="38">Quận 3</option>
                                <option value="apartment-for-rent-district-4" data-id="39">Quận 4</option>
                                <option value="apartment-for-rent-in-district-5" data-id="40">Quận 5</option>
                                <option value="apartment-for-rent-in-district-7" data-id="42">Quận 7</option>
                                <option value="apartment-for-rent-in-district-8" data-id="43">Quận 8</option>
                                <option value="apartment-for-rent-in-district-9" data-id="44">Quận 9 - Thủ Đức</option>
                                <option value="apartment-for-rent-in-go-vap" data-id="50">Gò vấp</option>
                                <option value="apartment-for-rent-in-phu-nhuan" data-id="51">Phu Nhuan</option>
                                <option value="apartment-for-rent-in-tan-binh" data-id="52">Tan Binh</option>
                                <option value="apartment-for-rent-in-tan-phu" data-id="53">Tan Phu</option>
                            </select>
                        </div>
                        <div class="col-20 input-form form-property_type">
                            <select class="form-control" id="property_type" name="property_type">
                                <option value="0">-Property Type-</option>
                                <option value="apartment-for-rent-in-hcmc" data-id="16">Apartment</option>
                                <option value="house-for-rent-in-ho-chi-minh-city" data-id="34">House</option>
                                <option value="serviced-apartment-ho-chi-minh-city" data-id="24">Serviced apartment</option>
                                <option value="villa-for-rent-in-ho-chi-minh-city" data-id="35">Villa</option>
                            </select>
                        </div>
                        <div class="col-20 input-form form-clda" style="display: none;">
                            <select class="form-control" id="child_location" name="child_location">
                                <option value="0">-Buildings-</option>
                                <option value="city-garden">City Garden</option>
                                <option value="sunwah-pearl-apartment">Sunwah Pearl</option>
                                <option value="vinhomes-central-park">Vinhomes Central Park</option>
                                <option value="soho-residence-apartment">Soho Residence</option>
                                <option value="the-marq-district-1-for-rent">The MarQ</option>
                                <option value="vinhomes-golden-river-apartment">Vinhomes Golden River</option>
                                <option value="zenity-apartment-for-rent">Zenity</option>
                                <option value="apartment-for-rent-in-an-phu">An Phu</option>
                                <option value="apartment-for-rent-in-thao-dien">Thao Dien</option>
                                <option value="apartment-for-rent-in-thu-thiem">Thu Thiem</option>
                                <option value="diamond-island-apartments">Diamond Island</option>
                                <option value="feliz-en-vista-for-rent">Feliz En Vista</option>
                                <option value="masteri-millennium-for-rent">Masteri Millennium</option>
                                <option value="the-goldview-apartment-for-rent">The Goldview</option>
                                <option value="the-tresor-apartment-rent">The Tresor</option>
                                <option value="phu-my-hung-apartment">Phu My Hung</option>
                                <option value="saigon-south-apartment-for-rent">Saigon South Residences</option>
                                <option value="sunrise-riverside-apartment-for-rent">Sunrise Riverside</option>
                                <option value="vinhomes-grand-park">Vinhomes Grand Park</option>
                                <option value="garden-gate-apartment">Garden Gate</option>
                            </select>
                            <script text="text/script">
                                (function ($) {
                                    function ActionForm() {
                                        $('.form-clda').hide();
                                        $('#property_type').change(function () {
                                            if ($(this).val() == 'apartment-for-rent-in-hcmc') {
                                                $('.form-clda').show();
                                                $('.form-clda option[value="0"]').text('-Buildings-');
                                            } else {
                                                $('.form-clda').hide();
                                                $('#child_location').val("0").change();
                                            }
                                        });
                                        $('#child_location').change(function () {
                                            if ($(this).val() != '0') {
                                                $('#child_location').attr('name', 'property_location');
                                            } else {
                                                $('#child_location').attr('name', 'child_location');
                                            }
                                        })
                                    }
                                    $(document).ready(ActionForm);
                                    $(document).ajaxComplete(function () {
                                        ActionForm()
                                    });
                                })(jQuery);
                            </script>
                        </div>
                        <div class="col-20 input-form">
                            <select class="form-control" name="property_kind">
                                <option value="0">-All Status-</option>
                                <option value="furnished">Furnished</option>
                                <option value="long-term">Long term</option>
                                <option value="short-term-rental-apartment">Short term</option>
                                <option value="unfurnished">Unfurnished</option>
                            </select>
                        </div>
                        <div class="col-20 input-form">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
                            <div class="dropdown bootstrap-select show-tick form-control">
                                <select class="selectpicker form-control" multiple="" data-live-search="true" name="property_utilities" title="-Utilities-" tabindex="-98">
                                    <option value="air-conditioner">Air-conditioner</option>
                                    <option value="balcony">Balcony</option>
                                    <option value="banquet">Banquet</option>
                                    <option value="basement">Basement</option>
                                    <option value="basketball-yard">Basketball yard</option>
                                    <option value="bathtub">Bathtub</option>
                                    <option value="bbq-area">BBQ area</option>
                                    <option value="cable-tv">Cable TV</option>
                                    <option value="cafeteria">Cafeteria</option>
                                    <option value="cinema">Cinema</option>
                                    <option value="cleaning">Cleaning</option>
                                    <option value="convenient-store">Convenient store</option>
                                    <option value="elevator">Elevator</option>
                                    <option value="fridge">Fridge</option>
                                    <option value="garage">Garage</option>
                                    <option value="garden">Garden</option>
                                    <option value="green-space">Green space</option>
                                    <option value="gym">Gym</option>
                                    <option value="internet">Internet</option>
                                    <option value="jacuzzi">Jacuzzi</option>
                                    <option value="kids-playground">Kids playground</option>
                                    <option value="kids-pool">Kids pool</option>
                                    <option value="library">Library</option>
                                    <option value="medical-center">Medical center</option>
                                    <option value="mini-golf-course">Mini golf course</option>
                                    <option value="outdoor-gym">Outdoor gym</option>
                                    <option value="parking">Parking</option>
                                    <option value="pets-allow">Pets Allow</option>
                                    <option value="restaurant">Restaurant</option>
                                    <option value="sauna">Sauna</option>
                                    <option value="school">School</option>
                                    <option value="shopping-mall">Shopping mall</option>
                                    <option value="super-market">Supermarket</option>
                                    <option value="swimming-pool">Swimming pool</option>
                                    <option value="tennis-court">Tennis court</option>
                                    <option value="tv">TV</option>
                                    <option value="washing-machine">Washing machine</option>
                                    <option value="wi-fi">Wi-Fi</option>
                                    <option value="window">Window</option>
                                </select><button type="button" class="btn dropdown-toggle btn-light bs-placeholder" data-toggle="dropdown" role="button" title="-Utilities-"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">-Utilities-</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search"></div><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div>
                            </div>
                            <script text="text/script">
                                (function ($) {
                                    $('.selectpicker').selectpicker();
                                    $('.selectpicker').selectpicker('selectAll');
                                    $('.selectpicker').selectpicker('deselectAll');
                                })(jQuery);
                            </script>
                        </div>
                        <div class="col-15 input-form">
                            <select class="form-control" name="number_bedroom">
                                <option value="0">Bedroom</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">6+</option>
                            </select>
                        </div>
                        <div class="col-15 input-form">
                            <select class="form-control" name="number_bathroom">
                                <option value="0">Bathroom</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">6+</option>
                            </select>
                        </div>
                        <div class="col-15 input-form">
                            <select class="form-control price_ranger" name="minimum_price">
                                <option value="0">-Min.Price-</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="200">$200</option>
                                <option value="300">$300</option>
                                <option value="400">$400</option>
                                <option value="500">$500</option>
                                <option value="600">$600</option>
                                <option value="700">$700</option>
                                <option value="800">$800</option>
                                <option value="900">$900</option>
                                <option value="1000">$1000</option>
                                <option value="1200">$1200</option>
                                <option value="1400">$1400</option>
                                <option value="1600">$1600</option>
                                <option value="1800">$1800</option>
                                <option value="2000">$2000</option>
                                <option value="2200">$2200</option>
                                <option value="2500">$2500</option>
                                <option value="2800">$2800</option>
                                <option value="3000">$3000</option>
                                <option value="3500">$3500</option>
                                <option value="4000">$4000</option>
                                <option value="4500">$4500</option>
                                <option value="5000">$5000</option>

                            </select>
                        </div>
                        <div class="col-15 input-form">
                            <select class="form-control price_ranger" name="maximum_price">
                                <option value="99999999">-Max.Price-</option>
                                <option value="100">$100</option>
                                <option value="200">$200</option>
                                <option value="300">$300</option>
                                <option value="400">$400</option>
                                <option value="500">$500</option>
                                <option value="600">$600</option>
                                <option value="700">$700</option>
                                <option value="800">$800</option>
                                <option value="900">$900</option>
                                <option value="1000">$1000</option>
                                <option value="1200">$1200</option>
                                <option value="1400">$1400</option>
                                <option value="1600">$1600</option>
                                <option value="1800">$1800</option>
                                <option value="2000">$2000</option>
                                <option value="2200">$2500</option>
                                <option value="2800">$2800</option>
                                <option value="3000">$3000</option>
                                <option value="3500">$3500</option>
                                <option value="4000">$4000</option>
                                <option value="4500">$4500</option>
                                <option value="5000">$5000</option>
                                <option value="6000">$6000</option>
                                <option value="7000">$7000</option>
                                <option value="8000">$8000</option>
                            </select>
                        </div>
                        <div class="welcome-hero-serch">
                            <button class="welcome-hero-btn" style="font-size:14px; height:34px;" onclick="window.location.href='#'">
                                <b>Tìm kiếm</b>  <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
    <section style="padding:20px 0 20px;">
        <div class="container">
            <div class="section-header">
                <h2>Đăng tin cho thuê</h2>
            </div>
            <br />
        </div>
    </section>
    <section class="explore">
        <div class="container">
            <form action="#">
                <div class="field-group">
                    <div class="col-20 input-form form-property_type">
                        <label for="property-type">Loại Bất Động Sản</label>
                        <select class="form-control" id="property_type" name="property_type">
                            <option value="0">-Property Type-</option>
                            <option value="apartment-for-rent-in-hcmc" data-id="16">Căn hộ</option>
                            <option value="house-for-rent-in-ho-chi-minh-city" data-id="34">Nhà ở</option>
                            <option value="villa-for-rent-in-ho-chi-minh-city" data-id="35">Villa</option>
                        </select>
                    </div>
                    <div class="col-20 input-form form-property_location">
                        <label for="property_location">Khu vực</label>
                        <select class="form-control city_select" id="property_location" name="property_location">
                            <option value="0" data-id="0">-All Districts-</option>
                            <option value="binh-chanh" data-id="55">Binh Chanh</option>
                            <option value="apartment-for-rent-in-binh-tan-district" data-id="161">Bình Tân</option>
                            <option value="apartment-for-rent-in-binh-thanh-district" data-id="49">Bình Thạnh</option>
                            <option value="apartment-for-rent-district-1" data-id="36">Quận 1</option>
                            <option value="apartment-for-rent-in-district-10" data-id="45">Quận 10</option>
                            <option value="apartment-for-rent-in-district-11-hcmc" data-id="46">Quận 11</option>
                            <option value="apartment-for-rent-in-district-2" data-id="37">Quận 2</option>
                            <option value="apartment-for-rent-in-district-3" data-id="38">Quận 3</option>
                            <option value="apartment-for-rent-district-4" data-id="39">Quận 4</option>
                            <option value="apartment-for-rent-in-district-5" data-id="40">Quận 5</option>
                            <option value="apartment-for-rent-in-district-7" data-id="42">Quận 7</option>
                            <option value="apartment-for-rent-in-district-8" data-id="43">Quận 8</option>
                            <option value="apartment-for-rent-in-district-9" data-id="44">Quận 9 - Thủ Đức</option>
                            <option value="apartment-for-rent-in-go-vap" data-id="50">Gò vấp</option>
                            <option value="apartment-for-rent-in-phu-nhuan" data-id="51">Phu Nhuan</option>
                            <option value="apartment-for-rent-in-tan-binh" data-id="52">Tan Binh</option>
                            <option value="apartment-for-rent-in-tan-phu" data-id="53">Tan Phu</option>
                        </select>
                    </div>
                    <div class="col-20 input-form">
                        <label for="property_kind">Trạng thái</label>
                        <select class="form-control" name="property_kind">
                            <option value="0">-All Status-</option>
                            <option value="furnished">Furnished</option>
                            <option value="long-term">Long term</option>
                            <option value="short-term-rental-apartment">Short term</option>
                            <option value="unfurnished">Unfurnished</option>
                        </select>
                    </div>
                    <div class="welcome-hero-serch">
                        <input type="submit" class="welcome-hero-btn" style="font-size:14px; height:34px;" />
                    </div>
                </div>
            </form>
        </div>
    </section>
        <div>
            @RenderBody()
        </div>
</body>
</html>
