<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css" />
    <script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/all.js"></script>


    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- title of site -->
    <title>Loremipsu: Nền tảng cho thuê bất động sản ở tp.HCM </title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/Content/assets/logo/Logo-favicon.jpg" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/Content/assets/css/linearicons.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">

    <!--slick.css-->
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/Content/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">


    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", Arial, Helvetica, sans-serif
        }

        .mySlides {
            display: none
        }

        .w3-main {
            background-color: #e3f6f5;
        }
    </style>
</head>
<body>
    <div>@Html.Partial("_PartialPageTopHeader")</div>
    <section class="w3-content w3-border-left w3-border-right">
        <!-- !PAGE CONTENT! -->
        <div class="w3-main">
            <hr>
            <!-- Push down content on small screens -->
            <div class="w3-hide-large" style="margin-top:80px"></div>

            <!-- Slideshow Header -->
            <div class="w3-container" id="apartment">
                <h2 class="w3-text-green">The Apartment</h2>
                <div class="w3-display-container mySlides">
                    <img src="~/Content/image/img1-1.jpg" style="width:100%;margin-bottom:-6px">
                </div>
                <div class="w3-display-container mySlides">
                    <img src="~/Content/image/img1-2.jpg" style="width:100%;margin-bottom:-6px">
                </div>
                <div class="w3-display-container mySlides">
                    <img src="~/Content/image/img1-3.jpg" style="width:100%;margin-bottom:-6px">
                </div>
                <div class="w3-display-container mySlides">
                    <img src="~/Content/image/img1-4.jpg" style="width:100%;margin-bottom:-6px">
                </div>
            </div>
            <div class="w3-row-padding w3-section">
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/image/img1-1.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/image/img1-2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/image/img1-3.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/image/img1-4.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
                </div>
            </div>

            <div class="w3-container">
                <h4><strong>The space</strong></h4>
                <div class="w3-row w3-large">
                    <div class="w3-col s6">
                        <p><i class="fa fa-fw fa-male"></i> Chỗ để xe: 4</p>
                        <p><i class="fa fa-fw fa-bath"></i> phòng tắm: 2</p>
                        <p><i class="fa fa-fw fa-bed"></i> phòng ngủ: 1</p>
                    </div>
                </div>
                <hr>

                <h4><strong>Amenities</strong></h4>
                <div class="w3-row w3-large">
                    <div class="w3-col s6">
                        <p>Shower</p>
                        <p>WiFi</p>
                        <p>TV</p>
                    </div>
                    <div class="w3-col s6">
                        <p>Kitchen</p>
                        <p>Air Conditioner</p>
                        <p>Wheelchair Accessible</p>
                    </div>
                </div>
                <hr>

                <h4><strong>Extra Info</strong></h4>
                <p>Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h2><b>Price: 5 000 000</b></h2>
                <hr>

                <!-- Contact -->
                <div class="w3-container" id="contact">
                    <h2>Contact</h2>
                    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
                    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Script to open and close sidebar when on tablets and phones
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Slideshow Apartment Images
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
        }
    </script>

    <div>
        @RenderBody()
    </div>

    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/Content/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/Content/assets/js/bootsnav.js"></script>

    <!--feather.min.js-->
    <script src="~/Content/assets/js/feather.min.js"></script>

    <!-- counter js -->
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>

    <!--slick.min.js-->
    <script src="~/Content/assets/js/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="~/Content/assets/js/custom.js"></script>
</body>
</html>
