<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mystyle/product-listing.css" rel="stylesheet" />

 
</head>
<body>
    <div>@Html.Partial("_PartialPageTopHeader")</div>
    <section class="define_float product_listings">
        <div class="container">
            <div>
                @RenderBody()
            </div>
        </div>
    </section>
    <!--footer start-->
    <footer id="footer" class="footer">
        <div class="container" >
            <div class="hm-footer-copyright">
                <div class="row">
                    <div class="col-sm-5" style="padding-top: 25px; width:80%; ">
                        <p>
                            &copy;Huflit 2024: <a href="https://github.com/ziefer17/Loremipsum-website">website project</a> by Duong The Hiep, Trieu Quoc Vinh, Pham Viet Tang, Pham Vu Hoang Tan, Nguyen Hai Nam
                        </p>
                        <p>
                            &copy;Credit: Template by <a href="https://www.free-css.com/free-css-templates/page296/listrace">free-css.com</a>
                        </p><!--/p-->
                    </div>
                </div>

            </div><!--/.hm-footer-copyright-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-->

</body>
</html>
