<!DOCTYPE html>

<html>
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css" />
    <script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/all.js"></script>
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- title of site -->
    <title>Loremipsu: Nền tảng cho thuê bất động sản ở tp.HCM </title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/Content/assets/logo/Logo-favicon.jpg" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/Content/assets/css/linearicons.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">

    <!--slick.css-->
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/Content/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">

    <style>

        .welcome-hero-btn.how {
            font-size: 24px;
            background: #ffd803;
            color: #272343;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 70px;
            text-transform: capitalize;
            margin:auto;
            border-radius: 3px;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear;
            font-weight: 600;
        }

        .welcome-hero-btn.explore1 {
            font-size: 24px;
            background: #ffd803;
            color: #272343;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 70px;
            text-transform: capitalize;
            margin-right: 250px;
            border-radius: 3px;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear;
            font-weight: 600;
            display: inline-block;
            
        }
        .div-footer {
            margin:auto;
            
            text-align:right;
        }
    </style>

</head>
<body>
    <div>@Html.Partial("_PartialPageTopHeader")</div>


    <!--welcome-hero start-->
    <section id="home" class="welcome-hero" style="margin-bottom: 100px;">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2 style="font-size: 40px; font-family: Roboto , sans-serif ">Nơi tốt nhất để tiềm kiếm ngôi nhà bạn muốn</h2>
                <p>
                    Tất cả tại thành phố Hồ Chí Minh
                </p>
            </div>
            <div class="welcome-hero-serch-box">
                <div class="welcome-hero-form">
                    <div class="single-welcome-hero-form">
                        <form action="index.html">
                            <input type="text" placeholder="Ex: địa chỉ, tên tòa nhà" />
                        </form>

                    </div>
                    <div class="single-welcome-hero-form">
                        <label for="district"></label>
                        <select class="select" name="district">
                            <optgroup label="-All District-">
                                <option>Binh Chanh</option>
                                <option>Binh Thanh</option>
                                <option>Binh Tan</option>
                                <option>Quan 1</option>
                                <option>Quan 2</option>
                                <option>Quan 3</option>
                                <option>Quan 4</option>
                                <option>Quan 5</option>
                                <option>Quan 7</option>
                                <option>Quan 8</option>
                                <option>Quan 9 - Thu Duc</option>
                                <option>Quan 10</option>
                                <option>Quan 11</option>
                                <option>Go Vap</option>
                                <option>Phu Nhuan</option>
                                <option>Tan Binh</option>
                                <option>Tan Phu</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="single-welcome-hero-form">
                        <label for="property">
                        </label>
                        <select class="select" name="property">
                            <option>Apartment</option>
                            <option>Villa</option>
                            <option>House</option>
                        </select>
                    </div>
                    <div class="single-welcome-hero-form">
                        <label for="status">
                        </label>
                        <select class="select" name="status">
                            <option>Furnished</option>
                            <option>Long term</option>
                            <option>Short term</option>
                            <option>Unfurnished</option>
                        </select>
                    </div>
                    <div class="single-welcome-hero-form">
                        <label for="status">
                        </label>
                        <select class="select" name="status">
                            <option>Furnished</option>
                            <option>Long term</option>
                            <option>Short term</option>
                            <option>Unfurnished</option>
                        </select>
                    </div>
                    
                </div>
                <div class="welcome-hero-serch">
                    <button class="welcome-hero-btn" onclick="window.location.href='#'">
                        search  <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

    </section><!--/.welcome-hero-->
    <!--works start -->
    <section id="works" class="works">
        <div class="container">
            <div class="section-header">
                <h2>Loremipsu là gì?</h2>
                <p>Nền tảng tiềm kiếm bất động sản tại thành phố Hồ Chí Minh</p>
            </div><!--/.section-header-->
            <div class="works-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <h2><a href="#">Giao <span>tiếp với cộng đồng</span></a></h2>
                            <p>
                                Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-networking"></i>
                            </div>
                            <h2><a href="#">tìm <span> kiếm nhà ở</span></a></h2>
                            <p>
                                Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-building"></i>
                            </div>
                            <h2><a href="#">Cho <span>thuê bất động sản</span></a></h2>
                            <p>
                                Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua.
                            </p>

                        </div>
                    </div>
                    <button class="welcome-hero-btn how" onclick="window.location.href='#explore'">
                        learn more
                    </button>
                </div>
            </div>
        </div><!--/.container-->

    </section><!--/.works-->
    <!--works end -->
    <!--explore start -->
    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>Hãy tham gia Loremipsu</h2>
                <p>Tận hưởng nhiều tín năng khác</p>
            </div>
            <br/>
            <button class="welcome-hero-btn explore1" onclick="window.location.href='#'">
                Sign up
            </button>
            <button class="welcome-hero-btn explore1" onclick="window.location.href='#'">
                Login
            </button>
            <button class="welcome-hero-btn explore1" style="margin-right:0;"onclick="window.location.href='#'">
                Browse
            </button>
        </div>
    </section>
    <!-- statistics strat -->
    <section id="statistics" class="statistics">
        <div class="container">
            <div class="statistics-counter">
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">30 </div> <span>+</span>
                        </div><!--/.statistics-content-->
                        <h3>posts</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">65</div> <span>+</span>
                        </div><!--/.statistics-content-->
                        <h3>khách</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">50</div> <span>+</span>
                        </div><!--/.statistics-content-->
                        <h3>khách hàng vui vẻ</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
            </div><!--/.statistics-counter-->
        </div><!--/.container-->
    </section>

    <!--footer start-->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-menu">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="~/Content/assets/logo/Logo 1.jpg" class="fm-logo" />Lorem<span>ipsum</span></a>
                    </div>                
                    <div class="div-footer">
                        <span><i class="fas fa-phone"></i>0 376 330 981</span>

                    </div>
                </div>
            </div>
            <div class="hm-footer-copyright">
                <div class="row">
                    <div class="col-sm-5">
                        <p>
                            &copy;Credit: Template by <a href="https://www.free-css.com/free-css-templates/page296/listrace">free-css.com</a>
                        </p><!--/p-->
                    </div>
                    <div class="col-sm-7">
                        <div class="footer-social">
                            
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>

            </div><!--/.hm-footer-copyright-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-->
    <div>
        @RenderBody()
    </div>






    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/Content/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/Content/assets/js/bootsnav.js"></script>

    <!--feather.min.js-->
    <script src="~/Content/assets/js/feather.min.js"></script>

    <!-- counter js -->
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>

    <!--slick.min.js-->
    <script src="~/Content/assets/js/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="~/Content/assets/js/custom.js"></script>

</body>
</html>
