<link href="~/Content/mystyle/style-top-header.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/all.js"></script>
<!--font-awesome.min.css-->
<link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

<!--linear icon css-->
<link rel="stylesheet" href="~/Content/assets/css/linearicons.css">

<!--animate.css-->
<link rel="stylesheet" href="~/Content/assets/css/animate.css">

<!--flaticon.css-->
<link rel="stylesheet" href="~/Content/assets/css/flaticon.css">

<!--slick.css-->
<link rel="stylesheet" href="~/Content/assets/css/slick.css">
<link rel="stylesheet" href="~/Content/assets/css/slick-theme.css">

<!--bootstrap.min.css-->
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

<!-- bootsnav -->
<link rel="stylesheet" href="~/Content/assets/css/bootsnav.css">

<!--style.css-->
<link rel="stylesheet" href="~/Content/assets/css/style.css">

<!--responsive.css-->
<link rel="stylesheet" href="~/Content/assets/css/responsive.css">
<style>
    body {
        font-family: BricolageGrotesque-VariableFont_opsz,wdth,wght, sans-serif;
    }

    .welcome-hero-btn.box-header {
        font-size: 16px;
        background: #ffd803;
        color: #859098;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 50px;
        margin-top: 20px;
        text-transform: uppercase;
        border-radius: 3px;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;
        display: inline-block;
    }

        .welcome-hero-btn.box-header:hover {
            background: #f43032;
        }
</style>
<section class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" style="padding:10px;" href="~/Home/Homepage"><img src="~/Content/assets/logo/Logo 1.jpg" class="fm-logo" />Lorem<span>ipsum</span></a>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" scroll active"><a href="/Home/Homepage">home</a></li>
                        <li class="scroll"><a href="~/Home/Homepage">tìm hiểu</a></li>
                        <li class="scroll"><a href="/images/Index">khám phá</a></li>
                        <li><button class="welcome-hero-btn box-header" onclick="window.location.href='Form'">Đăng tin</button></li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->
    <div class="clearfix"></div>
</section>

<script src="~/Content/assets/js/jquery.js"></script>

<!--modernizr.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!--bootstrap.min.js-->
<script src="~/Content/assets/js/bootstrap.min.js"></script>

<!-- bootsnav js -->
<script src="~/Content/assets/js/bootsnav.js"></script>

<!--feather.min.js-->
<script src="~/Content/assets/js/feather.min.js"></script>

<!-- counter js -->
<script src="~/Content/assets/js/jquery.counterup.min.js"></script>
<script src="~/Content/assets/js/waypoints.min.js"></script>

<!--slick.min.js-->
<script src="~/Content/assets/js/slick.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!--Custom JS-->
<script src="~/Content/assets/js/custom.js"></script>
